MODEL_DETECTION_PATH = ./models/detection.onnx
MODEL_RECOGNITION_PATH = ./models/recognition.onnx
MODEL_ALIGNMENT_PATH = ./models/aligner.onnx
IDEAL_PATH = ./ideal
PRODUCER_URL = ws://host.docker.internal:8080/ws/video